#header {
    background-color: black;
}

<<<<<<< HEAD #wrapper {
    background-color: rgb(88, 46, 50);
}

.photo1 {
    object-fit: fill;
}

#filmName {
    color: #bdbd84;
}

#page-heading {
    background-color: tomato;
}

#review-table {
    color: black;
}

#review-head {
    color: #bdbd84;
}

#form-submit {
    color: #bdbd84;
}

=======>>>>>>>58128f39130fd313ea78a1f3aec45a644eaf1495