#header {
    background-color: black;
}
progress {
    width: 200px;
    height: 30px;
    background-color:lightsteelblue;

}
progress.green{
    background-color: green;
    color: green;
}
progress.orange{
    background-color: green;
    color: green;
}
progress.red{
    background-color:red;
    color:red;  
}
/* progress.red[value] {color:red} IE10 */
progress.red::-webkit-progress-value {background-color:red}
progress.green::-webkit-progress-value {background-color:green}
progress.orange::-webkit-progress-value {background-color:orange}